@model IEnumerable<GneoInstituteManagerWebApp.ViewModels.CourseViewModel>

@{
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2" style="padding-top:50px;">
                <h1 class="text-center accent-gray">Students Details</h1>
                <p>

                    <a asp-action="AddEditCourse" class="btn btn-success"><i class="fas fa-random"></i> Add New Course</a>
                </p>
                <table class="table table-dark table-hover" style="padding-top:20px;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TeacherFullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Subject)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CurrentStudentCount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaximumStudentLimit)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CanEnrollMoreStudents)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TeacherFullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Subject)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CurrentStudentCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaximumStudentLimit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CanEnrollMoreStudents)
                                </td>
                                <td>
                                    <a asp-action="AddEditCourse" class="btn btn-default">Edit</a>
                                    <a asp-action="DeleteCourse" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    }
